server {
        access_log /var/log/nginx/{{ project }}-access.log;
        error_log /var/log/nginx/{{ project }}-errors.log;
        listen {{ project_port }};
        server_name {{ project_url }};

        location / {
                include uwsgi_params;
                uwsgi_pass {{ uwsgi_host }}:{{ uwsgi_port }};
        }
}
