DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{psql_db_name}}',
        'HOST': '{{db_host}}',
        'USER': '{{project_user}}',
        'PASSWORD': '{{project_password}}',
    }
}
