DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{psql_db_name}}',
        'HOST': '{{ hostvars[groups['db'][0]]['ansible_eth0']['ipv4']['address'] }}',
        'USER': '{{project_user}}',
        'PASSWORD': '{{project_password}}',
    }
}

WAGTAILSEARCH_BACKENDS = {
    'default': {
        'BACKEND': 'wagtail.wagtailsearch.backends.elasticsearch',
        'URLS': [
        {% for es in groups['search'] %}
        'http://{{ es }}:9200',
        {% endfor %}
        ],
        'INDEX': '{{ project }}'
    }
}


CACHES = {
    'default': {
        'BACKEND': 'redis_cache.cache.RedisCache',
        'LOCATION': '{{ hostvars[groups['cache'][0]]['ansible_eth0']['ipv4']['address'] }}:6379',
        'KEY_PREFIX': '{{ project }}',
        'OPTIONS': {
            'CLIENT_CLASS': 'redis_cache.client.DefaultClient',
        }
    }
}
