[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart={{uwsgi_path.stdout }} --yaml {{ project_path }}/uwsgi.yaml
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
